body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/24/08/56/colorful-3256055_1280.jpg");
    background-color: #cccccc;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
   }